name: Verify
on:
  push:
  workflow_dispatch:
  pull_request:
permissions:
  contents: read
concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true
jobs:
  verify:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      # for EnricoMi/publish-unit-test-result-action
      issues: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Install browsers
        run: |
          npm install --ci
          npx playwright install chromium --with-deps
          npx playwright install-deps
      - name: Verify
        run: |
          ./mvnw -B -V -ntp verify -Pit,production
      - uses: actions/upload-artifact@v4
        with:
          name: tests-report
          path: target/**-reports
          retention-days: 30
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: "target/*-reports/TEST*.xml"